---
import FormattedDate from './FormattedDate.astro'

import type { useTranslations } from '../i18n/utils'

type TranslationFn = ReturnType<typeof useTranslations>

interface Props {
	experiences: {
		slug: string
		data: {
			title: string
			company: string
			location: string
			description: string
			startDate: Date
			endDate?: Date
			[key: string]: any // <-- allows fields like id, body, etc.
		}
		[key: string]: any // <-- allows fields like id, body, etc.
	}[]
	lang: string
	t: TranslationFn
}

const { experiences, lang = 'es', t } = Astro.props
---

<div class="flex justify-center">
	<ol class="relative border-s border-gray-200 dark:border-gray-700">
		{
			experiences.map((experience) => (
				<li class="mb-10 ms-6">
					<span class="absolute -start-3 flex h-6 w-6 items-center justify-center rounded-full bg-blue-100 ring-8 ring-white dark:bg-blue-900 dark:ring-gray-900">
						<svg
							class="h-2.5 w-2.5 text-blue-800 dark:text-blue-300"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							fill="currentColor"
							viewBox="0 0 20 20"
						>
							<path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z" />
						</svg>
					</span>
					<h3 class="mb-1 flex items-center text-2xl font-semibold text-gray-900 dark:text-white">
						{experience.data.title}
						{!experience.data.endDate && (
							<span class="me-2 ms-3 rounded-sm bg-blue-100 px-2.5 py-0.5 text-sm font-medium text-blue-800 dark:bg-blue-900 dark:text-blue-300">
								{t('experience.tag.current')}
							</span>
						)}
					</h3>
					<p class="mb-2 block text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
						{t('experience.text.from')}
						<time /> <FormattedDate date={experience.data.startDate} />
						{experience.data.endDate && (
							<span>
								{t('experience.text.to')}
								<FormattedDate date={experience.data.endDate} />
							</span>
						)}
					</p>
					<p class="prose max-w-2xl dark:prose-invert prose-headings:underline prose-p:text-justify">
						{experience.data.description}
					</p>
				</li>
			))
		}
	</ol>
</div>
