<footer>
	<nav class="bottom-0 left-0 right-0 z-50 bg-gray-950/80 backdrop-blur-sm">
		<div class="mx-auto max-w-4xl px-6 py-4">
			<div class="flex items-center justify-center">
				<span class="text-sm text-gray-400">&copy;2025 Andrei Vlăsceanu</span>
			</div>
		</div>
	</nav>
</footer>
